# ---------------
# GIT IGNORE
# ---------------

# Environment
.vscode/
.intellij/

# Securables
# WARNING!
# Exposing .env variables may pose a significant security risk
# to your infrastructure.
# Do not remove or comment out.
.env

