# ---------------
# GIT IGNORE
# ---------------

# Environment
.vscode/
.idea/

# Securables
# WARNING!
# Exposing .env variables or certs may pose a significant 
# security risk to your infrastructure.
# Do not remove or comment out.
.env
certs/*.pem
certs/*.crt
certs/*.csr
certs/*.key

# Packages
pkgs/*.deb

